@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

  .stepsContainer {
    @apply ml-20 h-5/6 flex mt-12;
  }

  .steps{
    @apply flex flex-col bg-blueberry rounded-lg p-10 text-white;
  }

  .selection {
    @apply flex mx-4 my-5;
  }

  .number {
    @apply bg-tangerine p-6 rounded-full w-fit h-fit content-center text-center mr-8 text-lg;
  }

  .step {
    @apply text-left;
  }

  .info{
    @apply flex flex-col justify-center;
  }

  .information {
    @apply text-left;
  }
}